<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{{ title }}</title>
        <link
          rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="">
        <script
          src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""
        ></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body id="body">
        <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span id="titlename">AN</span>
            </a>
            {% if "username" in session %}
                <a class="navbar-brand" href="/id{{session['user_id']}}">
                    <img src="/static/img/login.png">
                </a>
            {% else %}
                <a class="navbar-brand" href="/login">
                    <img src="/static/img/login.png">
                </a>
            {% endif %}
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active n-link">
                        <a class="nav-link" href="/index">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active n-link">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                    {% if "username" in session %}
                        {% if session["username"] == "admin" %}
                            <li class="nav-item active n-link">
                                <a class="nav-link" href="/place/add">Добавить место</a>
                            </li>
                            <li class="nav-item active n-link">
                                <a class="nav-link" href="/place/list">Список мест</a>
                            </li>
                            <li class="nav-item active n-link">
                                <a class="nav-link" href="/user/list">Список пользователей</a>
                            </li>
                        {% endif %}
                        <li class="nav-item active n-link">
                            <a class="nav-link" href="/id{{session['user_id']}}">{{session['username']}}</a>
                        </li>
                        <li class="nav-item active n-link">
                            <a class="nav-link" href="/settings">Настройки</a>
                        </li>
                        <li class="nav-item active n-link">
                            <a class="nav-link" href="/logout">Выход</a>
                        </li>
                    {% else %}
                        <li class="nav-item active n-link">
                            <a class="nav-link" href="/login">Вход</a>
                        </li>
                        <li class="nav-item active n-link">
                            <a class="nav-link" href="/register">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav><!-- /header -->
        <main role="main" class="container bord">
            <div id="incontent">
                {% block content %}{% endblock %}
                <!--<footer class="l-footer">
                    <div class="links">
                        <a href="mailto:ilyaily2003@gmail.com">Написать нам</a>
                        <a href="/terms">Пользовательское соглашение</a>
                        <a href="/sitemap" id="end">Карта сайта</a>
                    </div>
                </footer>-->
            </div>
        </main>
    </body>
</html>