{% extends "base.html" %}
 
{% block content %}
	<table class="table table-bordered table-responsive">
		<thead align="center">
			<tr>
				<th scope="col">Пользователь</th>
				<th scope="col">Организатор</th>
			</tr>
		</thead>
		<tbody>
		    {% for item in data %}
			    <tr>
					<td class="text-center"><a href="/id{{item[1]}}">{{item[0]}}</a></td>
					<td class="text-center"><a href="/user/makeorg/{{item[1]}}">{{item[2]}}</a></td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}